<header class="uk-background-primary">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <section class=" uk-container uk-container-large">
        <div class="">
            <nav class="" uk-navbar>
                <div class="uk-navbar-left">
                    <h2 class="logo"><a style= "font-family: Dancing Script, cursive; font-size: 37px;" href="/home">Mediagram</a></h2>
                </div>
                <div class="uk-navbar-center">
                    <ul class="uk-flex uk-flex-between uk-flex-middle">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/home/agregarPost">Postear</a></li>
                        <li><a href="/home/miPerfil">Mi perfil</a></li>
                        <li><a href="/login">Logout</a></li>
                        <li>¡Bienvenido Usuario!</li>
                    </ul>
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-flex uk-flex-between uk-flex-middle">
                        <li>
                            <form action="/buscadorUsuarios" method="GET" class="uk-search uk-search-default">
                                <span uk-search-icon></span>
                                <input name="buscadorUsuarios" type="submit" class="uk-search-input" placeholder="Buscar usuario...">
                            </form>
                        </li>
                        <li>
                            <form action="/buscadorPosts" method="GET" class="uk-search uk-search-default">
                                <span uk-search-icon></span>
                                <input name="buscadorPosts" type="search" class="uk-search-input" placeholder="Buscar post...">
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>
</header>