<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Noto+Sans&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mediagram</title>
    <link rel="icon"
        href="https://w7.pngwing.com/pngs/624/811/png-transparent-computer-icons-facebook-social-media-f-logo-cross-brand.png"
        type="image/x-icon">

    <link rel="stylesheet" href="/css/agregarPost.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/footer.css">

    <!-- UiKit -->
    <!-- <link rel="stylesheet" href="css/uikit.min.css">
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script> -->
    <!-- UiKit -->

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <%- include("./partials/headerDeslogueado.ejs") %>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-center uk-flex-middle" >
                <form action="/home/agregarPost" method="POST">
                    <h2 style="font-family:modeka;">Agregar post</h2>
                    <br><br><br>
                     <div class="form-group">
                        <label for="formGroupExampleInput">Link: </label>
                        <input name="url" type="url" class="form-control" id="formGroupExampleInput">
                      </div>
                        <div class="form-group">
                          <label for="formGroupExampleInput">Descripción: </label>
                          <input name="descripcion" type="text" class="form-control" id="formGroupExampleInput" >
                        </div>
                        <div class="form-group">
                          <label for="formGroupExampleInput2">Ubicación:</label>
                          <input name="ubicacion" type="text" class="form-control" id="formGroupExampleInput2" >
                        </div>
                          <button type="submit" class="btn btn-primary" id=botonSignIn>Postear</button>
                      </form>
                

                </form>

            </div>
        </div>
    </main>
    
    <%- include("./partials/footer.ejs") %>
</body>

</html>