.uk-background-primary {
    background-color:#d260e6;
}

.btn-primary {
    background-color: #65207a !important;
    border-color: #65207a !important;
    font-family: 'Open Sans Condensed', sans-serif !important;
    font-size: 20px;
}

.post-comentarios ul > a {
    color: #d260e6;
    font-style: oblique;
    font-weight: bold;
}
h2 {
    font-family: 'Noto Sans', sans-serif !important;
    font-weight: bold;
    color: #65207a;
    text-align: center;
}
a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
}
html, body {
background-color: #ebddf0;
}

.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(1.5em + .75rem);
    padding: .375rem .75rem;
    line-height: 1.5;
    color:white;
    content: "Browse";
    background-color: #65207a;
    border-left: inherit;
    border-radius: 0 .25rem .25rem 0;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
  
}
.imagen-post{
    width: 50%;
}

h1{
    color: #65207a;
    font-family:  'Noto Sans', sans-serif !important;
}

a{
    color: #d260e6;
}

button {
    background-color: #65207a  !important;
    color: white;
}


body {
    text-align: center;
}

ul li {
    list-style-type: none !important;
}

h2 {
    color: #65207a;
    font-family:  'Noto Sans', sans-serif !important;
}
.ubicacionHome{
font-weight: bold;
margin-left: 450px;
}
.ubicacion{font-weight: bold;}
.descrpcion{text-align: center;
}

